<!DOCTYPE html>
<html>
<head>
    <title>Tamagotchi</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
  <div class="container">
    <h1>Welcome to our Tamagotchi simulator</h1>
    <a href='/pets'><button class="btn btn-success">Create your Tamagotchi</button></a>
  </div>
</body>
</html>