<!DOCTYPE html>
<html>
<head>
    <title>Car Dealership</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
  <div class="container">
    <form action="/pets/game" method="post">
      <label for="name">Choose a name for your tamagotchi!</label>
      <input id="name" type="text" name="name">
      <button class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>
</body>
</html>